body {
    margin: auto;
    text-align: center;
}

h4 {
    text-align: left;
    padding-left: 50px;
}

.characters {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    margin: auto;
}

.stats {
    display: grid;
    grid-template-columns: 2fr 5fr;
    margin: auto;
    margin-left: 50px;
}

.stats-arena {
    display: grid;
    grid-template-columns: 2fr 5fr;
    width: 40%;
    margin: auto;
}

ul {
    list-style-type: none;
    margin-top: 0px;
    padding: 10px;
    text-align: left;
}

img {
    padding-top: 10px;
}