body {
    margin: auto;
    text-align: center;
    background-image: url('background.jpg');
    background-size: cover;
    background-blend-mode: color-burn;
    background-color: rgba(255, 255, 255, 0.747);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;
}

h1 {
    color: rgb(236, 140, 13);
    text-shadow: 2px 1px 1px black;
    margin-bottom: 30px;
    letter-spacing: 1px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
}

h2 {
    text-align: left;
    margin-top: 0px;
    margin-bottom: 5px;
}

.center {
    text-align: center;
}

h3 {
    text-align: left;
    padding-left: 50px;
}

h4 {
    padding-top: 50px;
    padding-bottom: 40px;
}

.characters {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    margin: auto;
}

.character {
    padding-bottom: 10px;
}

.character:hover {
    background-color: rgba(97, 96, 96, 0.144);
    cursor: pointer;
}

.stats {
    display: grid;
    grid-template-columns: 2fr 5fr;
    margin: auto;
    margin-left: 50px;
}

.stats-arena {
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin: auto;
}

.battlefield {
    display: grid;
    grid-template-columns: 1fr 4fr;
    width: 60%;
    margin: auto;
    margin-top: 0px;
    grid-auto-rows: minmax(170px, auto);
}

.player-info {
    text-align: left;
    padding-left: 50px;
}

.player-info p {
    line-height: 14px;
}

.player {
    margin-top: 0px;
    width: 60%;
    margin: auto;
    height: 240px;
}

.opponent {
    width: 60%;
    margin: auto;
}

ul {
    list-style-type: none;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 10px;
    text-align: left;
}

img {
    padding-top: 10px;
}

button {
    background-color: rgb(25, 53, 61);
    color: rgb(212, 209, 209);
    width: 125px;
    height: 60px;
    font-size: 18px;
    border: 2px solid black;
    display: block;
    margin: auto;
    margin-top: 30px;
    padding: 10px;
    border-radius: 10px;
    letter-spacing: 1px;
}

button:hover {
    background-color: rgb(33, 75, 87);
    font-weight: bold;
    cursor: pointer;
}

#first-button {
    margin-top: 100px;
}

.button-arena {
    margin-top: 10px;
    height: 45px;
    width: 130px;
    font-size: 16px;
}

.attack {
    margin-right: auto;
    padding-left: 15px;
}

#new-game {
    margin-top: 50px;
    width: 160px;
    height: 60px;
}